<div class="trip-banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('../../assets/images/banner1');">
  <div class="trip-banner-content">
    <h1>All your trips</h1>
    <p>Travel easy, life is easy</p>
    <%= link_to "Plan a new trip", "/setplaces", class: "btn btn-primary" %>
  </div>
</div>

<div class="container">
  <div class="row">
    <% if @trips.empty? %>
      <div><h1 style="text-align: center; padding-top: 20px"><%= "You have no trip planned for the moment :(" %></h1>
    <% else %>
      <h1 style="text-align: center; padding-top: 20px">Your trips:</h1>
      <% @trips.each do |trip| %>
        <div class="col-md-6 col-sm-12 portfolio print panel" data-toggle="modal" data-target="#porfolio-details-3">
          <div class="panel-body">
            <div class="portfolio-title">
              <div class="title">
                <h4><%= trip.name %></h4>
                <p><%= trip.places.join(" - ")%></p>
                <p><%= trip.start_date %> - <%= trip.end_date %></p>
              </div>
            </div>
          </div>
          <div class="trip-portfolio-image">
              <%=image_tag "carte1.jpg", id: "carte"%>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
