<!-- Header -->
<div class="header" style="background-image: url(<%= image_path('header2.jpg') %>">
  <div class="container fluid-container header-content content-area">
    <span class="header-icon glyphicon glyphicon-globe"></span>
    <div class="header-title">
      <h1>All your saved trips</h1>
      <h2>Share them with your friends</h2>
    </div>
    <div class="wrapper text-center">
        <%= link_to "Plan another trip", '/setplaces', class: "btn btn-primary "%>
      </div>
  </div>
</div>



<div class="container">
  <div class="row">
    <% if @trips.empty? %>
      <div><h1 style="text-align: center; padding-top: 20px"><%= "You have no trip planned for the moment :(" %></h1>
    <% else %>
    <div class="index-container" style="margin-top: 50px;">
      <% @trips.each do |trip| %>
      <a href="<%= trip_path(trip) %>">
        <div class="col-md-6 col-sm-12 portfolio print panel" data-toggle="modal" data-target="#porfolio-details-3">

          <div class="panel-body cardlinkedrelative">
            <div class="portfolio-title">
              <div class="title">
                <h4><%= trip.name %></h4>
                <p><%= trip.places.join(" - ")%></p>
                <h5>From <%= trip.start_date %> to <%= trip.end_date %></h5>
              </div>
            </div>

          </div>

          <div class="trip-portfolio-image">
              <%=image_tag "carte1.jpg", id: "carte"%>
          </div>
        </div>
        </a>
      <% end %>
      </div>
    <% end %>
  </div>
</div>
