<!-- <h1>Trips#new</h1>
<p>Find me in app/views/trips/new.html.erb</p>



 -->



<%= simple_form_for @trip do |f| %>
  <%= f.input :name %>
  <%= f.input :start_date %>
  <%= f.input :end_date %>
  <%= f.input :places, as: :array %>
  <%= f.input :places, as: :array %>
  <%= f.input :places, as: :array %>

   <%= f.submit %>
<% end %>

