<div class="header" style="background-image: url(<%= image_path('header2.jpg') %>)">
  <div class="container fluid-container header-content content-area">
    <span class="header-icon glyphicon glyphicon-ok"></span>
    <div class="header-title">
      <h1>Welcome</h1>
      <h2>Please sign up and enjoy your trip :-)</h2>
    </div>
  </div>
</div>

<div class="main-content container fluid-container">

  <%= render 'shared/businesspropal'%>

  <div class="form-trip" style="margin-top: 80px;">
    <div class="row">
      <div class="col-sm-offset-3 col-sm-6 formplaces">
        <div class="tripform">
          <div class="content-form-trip-reg">
            <div class="card-photo-login" style="background-image: linear-gradient(rgba(111, 198, 217, 0.8), rgba(111, 198, 217, 0.8)), url(<%= image_path('large-3.jpg') %>), max-height: 100%">
          </div>

            <div class="tripform">
            <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= f.error_notification %>
              <div class="forminputs">
                <%= f.input :email, required: true, placeholder: "peter@pan.com", label: "Your email", autofocus: true %>
                <%= f.input :password, required: true, placeholder: "********", label: "Your password", hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
                <%= f.input :password_confirmation, required: true, placeholder: "********", label: "Please, confirm" %>
              </div>
                <%= f.submit "New account" ,class: "btn background-1 form-reg" %>
<%- if controller_name != 'sessions' %>
  <span class="btn-reg" style="margin-top: 12px"><%= link_to "Log in", new_session_path(resource_name) %><br /></span>
<% end -%>

<div class="loginBtn loginBtn--facebook fb" style="width: 320px; margin-top: 57px;" >
<%- if devise_mapping.omniauthable? %>
  <%- resource_class.omniauth_providers.each do |provider| %>
    <%= link_to "Sign with #{OmniAuth::Utils.camelize(provider)}", omniauth_authorize_path(resource_name, provider), id: "facebook-logo" %><br />
  <% end -%>
<% end -%>
</div>

            <% end %>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
