<div class="header" style="background-image: linear-gradient(-225deg, rgba(0, 128, 128, 0.6), rgba(21, 10, 11, 0.6) 25%), url('<%= image_path 'header.jpg' %>')">
  <div class="container fluid-container header-content content-area">
    <span class="header-icon glyphicon glyphicon-plane"></span>
    <div class="header-title">
      <h1>Search through hundreds of activities</h1>
      <br>
      <h3>Travel easy, life is easy</h3>
    </div>
  </div>
  <div class="wrapper text-center">
    <%= link_to "Start your trip", '/setplaces', class: "btn btn-primary"%>
  </div>
</div>
<div class="container main-container">
  <div class="row">
    <h1>How it works ?</h1>
    <p></p>
  </div>

  <div class="row">
    <div class="col-md-4 col-sm-6 portfolio web panel" data-toggle="modal">
      <div class="panel-body">
        <div class="portfolio-title">
          <div class="portfolio-icon">
            <div>1</div>
          </div>
          <div class="title">
            <h4>Cities</h4>
            <em>Wherever you are travelling in the world</em>
          </div>
        </div>
      </div>
      <div class="portfolio-content">
        <p>Select the cities you are visiting. You have access to all the cities that are present in the world</p>
      </div>
        <div class="portfolio-image">
          <%= image_tag "yourcities.jpg" %>
        </div>
    </div>

    <div class="col-md-4 col-sm-6 mobile web panel" data-toggle="modal">
      <div class="panel-body">
        <div class="portfolio-title">
          <div class="portfolio-icon">
            <div>2</div>
          </div>
          <div class="title">
            <h4>Activities</h4>
            <em>Select activities for each one of the cities</em>
          </div>
        </div>
      </div>
      <div class="portfolio-content">
        <p>Select from hundreds of activities that we select especially for you</p>
      </div>
        <div class="portfolio-image">
          <%= image_tag "youractivities.jpg" %>
        </div>
    </div>

    <div class="col-md-4 col-sm-6 print web panel" data-toggle="modal">
      <div class="panel-body">
        <div class="portfolio-title">
          <div class="portfolio-icon">
            <div>3</div>
          </div>
          <div class="title">
            <h4>Custom trip</h4>
            <em>Go and pack your suitcase</em>
          </div>
        </div>
      </div>
      <div class="portfolio-content">
        <p>Your trip is organized, time to pack your suitcase and enjoy your holidays</p>
      </div>
        <div class="portfolio-image">
          <%= image_tag "yourtrip.jpg" %>
        </div>
    </div>
  </div>

</div>
