
      <!-- Header section. Update the background by changing the .header class background image. -->
<div class="header" style="background-image: url(<%= image_path('header2.jpg') %>">
  <div class="container fluid-container header-content content-area">
    <span class="header-icon glyphicon glyphicon-pushpin"></span>
    <div class="header-title">
      <h1>Where do you want to go?</h1>
      <h3>Choose the cities, we handle the rest for you...</h3>
    </div>
  </div>
</div>

<div class="main-content container fluid-container">
  <div class=" row sub-container">
    <div class="content-setplaces">
      <div class="title-right">
      <h1>How does the magic happen ? </h1>
      </div>
      <div class="row">
      <div class="col-sm-12 panel">
      <div class="print panel-body panel-body-setplaces">
        <div class="portfolio-title">
          <div class="portfolio-icon">
            <div>1</div>
          </div>
          <div class="title title-setplaces">
            <em>You select the cities you want to visit</em>
          </div>
        </div>
      </div>
      </div>

      <div class="col-sm-12 panel">
      <div class="mobile panel-body panel-body-setplaces">
        <div class="portfolio-title">
          <div class="portfolio-icon">
            <div>2</div>
          </div>
          <div class="title title-setplaces">
            <em>We screen the internet - yelp and select the best activities that you can filter selon tes gouts </em>
          </div>
        </div>
      </div>
    </div>
    </div>

    <div class="col-sm-12 panel">
    <div class="web panel-body panel-body-setplaces">
        <div class="portfolio-title">
          <div class="portfolio-icon">
            <div>3</div>
          </div>
          <div class="title title-setplaces">
            <em>we propose you ways to get from a to b, with price ranges selon ton way of transport</em>
          </div>
        </div>
      </div>
      </div>
      </div>
    <div class="form-trip">
      <div class="row">
        <div class="col-sm-offset-3 col-sm-6">
          <div class="tripform">
          <h1>Create your own trip</h1>
          <h2 class="h-form">One period, three cities and here we go...</h2>
          <div class="content-form-trip">
            <div class="card-photo-login" style="background-image: linear-gradient(rgba(111, 198, 217, 0.8), rgba(111, 198, 217, 0.8)), url(<%= image_path('large-3.jpg') %>), max-height: 100%">
            </div>

            <div class="tripform">
              <%= simple_form_for @trip, url: setactivities_path, method: :get do |f| %>
                  <div id="forminputs">
                    <%= f.input :name, input_html: {require: true}, placeholder: "Asia 2017", label: "Name your trip" %>
                    <%= f.input :start_date, as: :string, input_html: {type: :date}, label: "Start date" %>
                    <%= f.input :end_date, as: :string, input_html: {type: :date}, label: "End date" %>
                    <%= f.input :places, as: :array, placeholder: "New-York", label: "City 1" %>
                  </div>
                <p class="btn btn-primary grey" id="button"> + </p>
                <%= f.submit "Submit", class: "btn background-1 form-trip" %>
                <%end%>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


