<div class="site-holder">

<div class="container form-trip">
  <h1>Create your own trip</h1>
  <h5>One period, three cities and here we go...</h5>
  <div class="content-form">

      <%= simple_form_for @trip, url: setactivities_path do |f| %>
      <%= f.input :name, placeholder: "Asia 2017" %>
      <%= f.input :start_date %>
      <%= f.input :end_date %>
      <%= f.input :places, as: :array, placeholder: "Bali" %>
      <%= f.input :places, as: :array, placeholder: "Tokyo" %>

      <%= f.input :places, as: :array, placeholder: "SHanguai" %>
      <%= f.submit %>
       <%end%>
  </div>
</div>

</div>
