<div class="container">
  <div class="col-md-12 col-sm-12 col-lg-12 service panel">
    <div class="panel-heading background-with-image-2">
      <div class="panel-icon"><span class="glyphicon glyphicon-transfer"></span>
      </div>
      <div class="panel-title">
        <h4>How can you get to 'CITY2' ?</h4>
        <p>There are plenty of ways: </p>
      </div>
    </div>
  <div class="panel-body body-r2r">
    <table class="table table-travel">
      <% @results['routes'].each do |route| %>
      <tbody>
        <tr>
          <td><h5><%= route['name'] %></h5></td>
          <td><h6><%= route['totalDuration'].to_i / 60 %>h<%= (route['totalDuration'].to_i % 60) / 01 %></h6></td>
            <% if route['indicativePrices'] %>
              <% if route['indicativePrices'].first['priceLow'] %>
                <td> <h6><%=route['indicativePrices'].first['priceLow'] %> - <%= route['indicativePrices'].first['priceHigh'] %> <%= route['indicativePrices'].first['currency'] %></h6></td>
              <% elsif route['indicativePrices'].first['price'] %>
                <td><h6><%= route['indicativePrices'].first['price']%> <%= route['indicativePrices'].first['currency'] %></h6></td>
              <% end %>
            <% else %>
              <td><h6>N/A</h6></td>
            <% end %>
        </tr>
      </tbody>
      <% end %>
    </table>
  <%= link_to "Purchase tickets", "https://www.rome2rio.com/fr/s/Lille/Lyon", target: "blank", class: "btn btn-primary btn-trip"%>
  </div>
</div>

