<div class="header" style="background-image: url(<%= image_path('header2.jpg') %>)">
  <div class="container fluid-container header-content content-area">
    <span class="header-icon glyphicon glyphicon-ok"></span>
    <div class="header-title">
      <h1>LOGIN</h1>
      <h2>Please, sign in :)</h2>
    </div>
  </div>
</div>

<div class="main-content container fluid-container">

  <%= render 'shared/businesspropal'%>

  <div class="form-trip" style="margin-top: 80px;">
    <div class="row">
        <div class="col-sm-offset-3 col-sm-6 formplaces">
          <div class="tripform">
            <div class="content-form-trip-log">
              <div class="card-photo-login">
              </div>

              <div class="tripform">
              <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                <div id="forminputs">
                  <%= f.input :email, required: false, placeholder: "peter@pan.com", label: "Your email", autofocus: true %>
                  <%= f.input :password, required: false, placeholder: "********", label: "Your password" %>
                  <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
                </div>
                  <%= f.submit "Log in", class: "btn background-1 form-trip" %>
                  <div style="padding-left: 5Opx"><%= render "devise/shared/links" %></div>
              <% end %>

              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>


