<!-- Header section. Update the background by changing the .header class background image. -->
<div class="header" style="background-image: url(<%= image_path('header2.jpg') %>">
  <div class="container fluid-container header-content content-area">
    <span class="header-icon glyphicon glyphicon-heart-empty"></span>
    <div class="header-title">
      <h1><%= head.title %></h1>
      <h2><%= head.subtitle %></h2>
    </div>
  </div>
</div>

<!-- Mobile menu dropdown -->
<div class="mobile-header-menu">
  <div class="menu-logo">
      <span class="header-icon glyphicon glyphicon-heart-empty"></span>
  </div>
  <div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
      <span class="glyphicon glyphicon-menu-hamburger color-1"></span>
    </button>
    <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dropdownMenu1">
      <%= head.boucle %>
        <li>
          <a href="javascript:void(0);" onclick="scrollToAnchor('section-<%= head.indexnum %>')"><%= head.code %></a>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- Desktop menu -->
<div class="container fluid-container content-area header-menu">
  <div class="header-menu-content">
    <div class="menu-logo">
      <span class="header-icon glyphicon glyphicon-heart-empty"></span>
    </div>
    <ul>
      <% head.boucle %>
        <li>
          <a href="javascript:void(0);" onclick="scrollToAnchor('section-<%= head.indexnum %>')"><%= head.code %></a>
        </li>
      <% end %>
    </ul>
  </div>
</div>
